<div class="max-w-3xl mx-auto p-4">
  <h1 class="text-4xl font-bold mb-4">Explorando la Complejidad de los Tumores Cerebrales: Pituitario, Meningioma y
    Glioma</h1>

  <div class="flex flex-col space-y-8">
    <p class="text-lg">
      El reino de los tumores cerebrales es vasto y desafiante, compuesto por una diversidad de afecciones intrincadas
      que
      impactan uno de los órganos más fundamentales: el cerebro. Entre esta complejidad, se destacan tres tipos
      particulares
      que presentan características únicas, desafíos clínicos y enfoques de tratamiento diferenciados: los tumores
      pituitarios, meningiomas y gliomas.
    </p>

    <h2 class="text-3x1 font-bold mb-4">Tumor Pituitario: La Intrincada Danza Endocrina del Cerebro </h2>

    <p>Anidado en la base del cerebro, el tumor pituitario se manifiesta en una región crucial, la glándula pituitaria.
      Este
      pequeño pero poderoso órgano regula una red de funciones hormonales vitales, y la presencia de un tumor puede
      desencadenar una interrupción compleja en la producción hormonal, afectando desde el crecimiento hasta el
      equilibrio
      metabólico del cuerpo humano.</p>
    <img src="https://www.clevelandclinic.org/health/health-info/pictures/spanish%20images/pituitary.jpg" alt="">

    <h2 class="text-3x1 font-bold mb-4">
      Meningioma: La Travesía a Través de las Capas Protectoras
    </h2>

    <p>Los meningiomas, por otro lado, se originan en las membranas protectoras que rodean el cerebro y la médula espinal. A
    pesar de su ubicación extracerebral, su crecimiento puede ejercer presión sobre estructuras críticas del sistema
    nervioso central, generando síntomas variados y desafíos únicos en su manejo clínico.</p>
      <img src="https://assets.neurosurgicalatlas.com/aaroncohen-gadol-com/patients/meningiomas-Fig1.png" alt="">
    <h2 class="text-3x1 font-bold mb-4">
      <img src="" alt="">
      Glioma: La Batalla en el Tejido Cerebral Profundo
    </h2>

    <p>En el núcleo mismo del tejido cerebral, los gliomas encuentran su morada, presentándose como una de las formas más
    desafiantes y agresivas de tumores cerebrales. Originados en las células gliales, estos tumores intrínsecamente desafían
    los límites entre lo operable y lo inoperable, lo tratable y lo intratable, planteando complejas decisiones terapéuticas
    y trayectorias de atención.</p>
    <img src="https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2015/03/02/10/52/mcdc7_glioma-8col.jpg" alt="">
  </div>
</div>
