<div class="flex">
  <div class="w-2/4 flex flex-col items-center p-10 justify-center h-screen">
    <h2 class="mt-20 ">
      Conoce ahora mismo si podrias presentar un tumor cerebral
    </h2>
    <p class="mt-20">Con Is a Tumor? podras con tan solo subir una imagen saber cuales son las probabilidades
      de que presentes un tumor cerebral, ademas de poder ver las areas afectadas por el tumor.
    </p>
  </div>
  <div #lottieContainer class="w-2/4 lottie-animation 0 ">
    <ng-lottie [options]="options" (animationCreated)="onAnimate($event)">
    </ng-lottie>
  </div>
</div>
