h2{
  font-size: 60px;
  font-weight: 700;
  color: var(--dark-blue);
  line-height: 0.9;
  text-align: center;
}
p{
  font-size: 20px;
  font-weight: bold;
  color: var(--dark-blue);
  line-height: 1.5;
  text-align: center;
}
